<div class="flex justify-center mt-6 space-x-2">
  <%# Previous Page Link %>
  <% if @posts.current_page > 1 %>
    <%= link_to t('views.pagination.previous'), params: request.query_parameters.merge(page: @posts.current_page - 1), 
                class: "bg-gray-200 hover:bg-gray-300 text-gray-700 font-medium py-2 px-4 rounded-lg" %>
  <% else %>
    <span class="bg-gray-100 text-gray-400 font-medium py-2 px-4 rounded-lg cursor-not-allowed">
      <%= t('views.pagination.previous') %>
    </span>
  <% end %>

  <%# Page Numbers %>
  <% (1..@posts.total_pages).each do |page| %>
    <% if page == @posts.current_page %>
      <span class="bg-blue-500 text-white font-medium py-2 px-4 rounded-lg"><%= page %></span>
    <% else %>
      <%= link_to page, params: request.query_parameters.merge(page: page), 
                  class: "bg-gray-200 hover:bg-gray-300 text-gray-700 font-medium py-2 px-4 rounded-lg" %>
    <% end %>
  <% end %>

  <%# Next Page Link %>
  <% if @posts.current_page < @posts.total_pages %>
    <%= link_to t('views.pagination.next'), params: request.query_parameters.merge(page: @posts.current_page + 1), 
                class: "bg-gray-200 hover:bg-gray-300 text-gray-700 font-medium py-2 px-4 rounded-lg" %>
  <% else %>
    <span class="bg-gray-100 text-gray-400 font-medium py-2 px-4 rounded-lg cursor-not-allowed">
      <%= t('views.pagination.next') %>
    </span>
  <% end %>
</div>
