<h1>Objave korisnika <%= @user.first_name %> <%= @user.last_name %></h1>

<div class="sort-links">
  <p>Sortiraj po datumu:</p>
  <%= link_to "Najstarije prvo", user_posts_path(@user, sort: "asc"), class: "btn btn-light" %>
  <%= link_to "Najnovije prvo", user_posts_path(@user, sort: "desc"), class: "btn btn-light" %>
</div>

<% @posts.each do |post| %>
  <div class="post">
    <h2><%= link_to post.title, user_post_path(@user, post) %></h2>
    <p><%= post.short_description %></p>
    <p><strong>Datum objave:</strong> <%= post.publication_date.strftime("%d.%m.%Y") %></p>
  </div>
<% end %>

<%= paginate @posts, pagination_class: 'flex justify-center mt-4' %>
