<h1 class="text-2xl font-bold text-gray-800 mb-4"><%= @post.title %></h1>
<p class="text-gray-600 text-lg mb-4"><%= @post.short_description %></p>
<p class="text-gray-700 mb-4"><%= @post.content %></p>

<% if @post.publication_date %>
  <p class="text-sm text-gray-500 mb-4">
    <strong>Datum objave:</strong> <%= @post.publication_date.strftime("%d.%m.%Y") %>
  </p>
<% end %>

<% if @post.image? %> <!-- Provjera postoji li slika u CarrierWave-u -->
  <div class="mb-6">
    <%= image_tag @post.image.url, class: "w-full h-auto rounded-lg shadow-md" %>
  </div>
<% end %>

<h2 class="text-xl font-semibold text-gray-800 mb-4">Komentari</h2>

<div id="comments" class="space-y-4">
  <%= render @post.comments %>
</div>

<% if user_signed_in? %>
  <div class="mt-6">
    <%= form_with model: [@post, Comment.new], class: "space-y-4" do |form| %>
      <div>
        <%= form.text_area :content, rows: 3, class: "w-full border border-gray-300 rounded-lg shadow-sm focus:ring focus:ring-green-200 p-2", placeholder: "Dodaj komentar..." %>
      </div>
      <%= form.submit "Dodaj komentar", class: "bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded-lg shadow-md" %>
    <% end %>
  </div>
<% else %>
  <p class="text-sm text-gray-500 mt-4">Prijavite se kako biste mogli komentirati.</p>
<% end %>
